# Default ignored files
/../../Load Country from Spring Configuration XML using IntelliJ IDEA./.idea/shelf/
/../../Load Country from Spring Configuration XML using IntelliJ IDEA./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Load Country from Spring Configuration XML using IntelliJ IDEA./.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../Load Country from Spring Configuration XML using IntelliJ IDEA./.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../Load Country from Spring Configuration XML using IntelliJ IDEA./.idea/dataSources/
/../../Load Country from Spring Configuration XML using IntelliJ IDEA./.idea/dataSources.local.xml
